body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * ControleProduto Navbar
 */

.ctl-dashnav, .ctl-dashnav li a {
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 25%);
}

.ctl-dashnav li a {
  display: block;
  padding: .5rem 1rem;
  background-color: #f8f9fa;
  font-weight: 700;
  text-decoration: none;
}

.ctl-dashnav li a:hover {
  background-color: #dae0e5;
}

.ctl-dashnav div a {
  color: #fff;
  background-color: #007bff;
  font-weight: 700;
}

.ctl-dashnav div a:hover {
  background-color: #0062cc;
}

.ctl-head-menu{
  border-bottom: 1px solid #c7c7c7;
  background: #f6f6f6;
}

.ctl-head-menu h4{
  margin-bottom: .1rem;
}

.ctl-head-menu .dropdown{
  margin-bottom: -0.3rem;
}

.ctl-droparrow::before{
  display: inline-block;
  margin-left: .255em;
  margin-right: .600em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  transition: transform .4s;
}

.ctl-droparrow[aria-expanded="true"]::before{
    transform: rotate(0deg);
}

.ctl-droparrow[aria-expanded="false"]::before{
    transform: rotate(-90deg);
}

.ctl-dashnav li a img {
  filter: white(100%);
  width: 20px;
  height: 20px;
}

.ctl-dropdown-right{
  right:15px;
  left:auto;
}

.ctl-user-menu{
  text-decoration: none;
  display: inline-flex;
  align-content: center;
  align-items: center;
  padding-right: 10px;
  font-size: 20px;
}

.ctl-user-menu:hover{
  text-decoration: none;
}

.ctl-user-menu .name{
  margin-left: 6px;
}

.ctl-user-menu img{
  border-radius: 20px;
}

.ctl-user-menu::after{
  display: inline-block;
  margin-left: .355em;
  margin-right: .600em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  transition: transform .4s;
}